
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
body{
    display: flex;
    background-image: url("https://assets.codepen.io/6060109/ZigZag.png");
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}
.all{
    display: flex;
}
.menu{
    background-color: white;
    max-width: 325px;
    border-radius: 5px;
    box-shadow: 0 40px 40px  #3C7B61 ;
   
}
#x{
    background-image: url("https://assets.codepen.io/6060109/food-close-x.png");
    height: 22px;
    width: 22px;
    margin-left: 87%;
    margin-top: 7%;
}
#smily{
    background-image: url("https://assets.codepen.io/6060109/food-happy.png");
    margin-top: 5%;
    margin-left:33% ;
    height: 130px;
    background-repeat: no-repeat;   
}
h2,p{
    text-align: center;
}

h2{
   font-size: 22px;
   font-weight: 600;
   color: #2F463D;
   margin-bottom: 0;
   font-family: Montserrat;
}
p{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;
    line-height: 26px;
}

.text{
    padding: 0 20px 0 20px;
    line-height: 25px

}
.burger{
    display: flex;
    background-color:#F0FFF5;
    margin: 10%;
    border-radius: 10px;
    
}
.choices{
    padding-left: 10px;
}


#price{
    margin: 0%;
    text-align: left;
    color: #7A8F85;
}

h3{
    font-style: bold;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0;
    color: #2F463D;
    font-family: Montserrat;
}
.change{
    padding: 20px 0 20px 25px;
    color: #467A66;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;

}

#mainbutton{
    padding: 13px 72px;
    margin-left: 10%;
    color: white;
    background-color: #46A67E;
    font-weight: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}

.circle{
    display: flex;
    justify-content: space-between;
    padding: 10% 40%

}
.dot:nth-of-type(2){
    background:#67BD99;
}

.dot{
    height: 10px;
    width: 10px;
    background:grey;
    border-radius: 50%;
}
.all:nth-of-type(1){
    display: none;
}
.all:nth-of-type(2){
    display: contents;
}
.all:nth-of-type(3){
    display: none;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    
    body{
       justify-content: center;  
    }

    .all:nth-of-type(1){
        display: contents; 
    }
    
    .all:nth-of-type(3){
        display: contents;
    } 

    .menu{
        min-width: 370px;
    }

    .right{
        margin-right: -10px;
    }
    
    .center{
        z-index: 10;
    }
    .left{
        z-index: 1;
        margin-left: -10px;
    }

    .text{
        padding:0 7% ;
    }
    .burger{
        margin: 10% 7% 10% 7%;
    }
    .change{
        padding: 22px 20px 20px 85px;
        
    }
    
    #smily{
        margin-left: 30%;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
        background-size: contain;   
    }
    #deliveryguy{
        background-repeat: no-repeat;
        background-image: url("https://assets.codepen.io/6060109/delivery-man+1.png");
        text-align: center;
        margin-top: 5%;
        margin-left:28% ;
        height: 160px;   
    }
    #cartoonburger{
        background-repeat: no-repeat;
        background-image: url("https://assets.codepen.io/6060109/hamburger+1.png");
        text-align: center;
        margin-top: 5%;
        margin-left:28% ;
        height: 150px;  
         
    }

    #trackbutton{
        text-align: center;
        padding: 13px 90px;
        margin-left: 9%;
        margin-top: 15%;
        color: white;
        background-color: grey;
        font-weight: 18px;
        border: none;
        border-radius: 5px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        
    }
    #nextbutton{
        text-align: center;
        padding: 13px 140px;
        margin-top: 20%;
        margin-left: 9%;
        color: white;
        background-color: grey;
        font-weight: 18px;
        border: none;
        border-radius: 5px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        
    }
    #mainbutton{
        padding: 13px 100px;
        margin-left: 7%;
        
    }
   
    
   

}

 
    
        
    
   





    










    


